Hostname "{{ansible_eth1.ipv4.address}}"

#LoadPlugin logfile
#LoadPlugin apache
LoadPlugin cpu
LoadPlugin df
LoadPlugin entropy
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin rrdtool
LoadPlugin users
LoadPlugin write_graphite

#<Plugin logfile>
#    LogLevel info
#    File "/var/log/collectd.log"
#    Timestamp true
#</Plugin>

#<Plugin apache>
#    <Instance "localhost">
#        URL "http://{{ansible_eth1.ipv4.address}}/server-status?auto"
#        Server "httpd"
#    </Instance>
#</Plugin>

<Plugin df>
  Device "/dev/mapper/VolGroup00-LogVol00"
  MountPoint "/"
  FSType "xfs"
</Plugin>

<Plugin interface>
  Interface "eth2"
  IgnoreSelected false
</Plugin>

<Plugin write_graphite>
  <Node "graph1">
     Host "{{graphite_ip}}"
     Port "2003"
     Protocol "tcp"
     #ReconnectInterval 1.0
     LogSendErrors true
     Prefix "collectd"
     StoreRates true
     AlwaysAppendDS false
     EscapeCharacter "_"
  </Node>
</Plugin>
