Hostname "{{ansible_enp0s9.ipv4.address}}"

LoadPlugin apache
LoadPlugin cpu
LoadPlugin df
LoadPlugin entropy
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin rrdtool
LoadPlugin users
LoadPlugin write_graphite

<Plugin apache>
  <Instance "local">
    URL "http://localhost/status?auto"
    Server "apache"
  </Instance>
</Plugin>

<Plugin df>
  Device "/dev/mapper/VolGroup00-LogVol00"
  MountPoint "/"
  FSType "ext3"
</Plugin>

<Plugin interface>
  Interface "enp0s8"
  IgnoreSelected false
</Plugin>

<Plugin write_graphite>
  <Node "graph1">
     Host "{{graphite_ip}}"
     Port "2003"
     Protocol "tcp"
     LogSendErrors true
     Prefix "collectd"
     StoreRates true
     AlwaysAppendDS false
     EscapeCharacter "_"
  </Node>
</Plugin>