Hostname "{{ansible_eth2.ipv4.address}}"

LoadPlugin apache
LoadPlugin cpu
LoadPlugin df
LoadPlugin entropy
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin processes
LoadPlugin rrdtool
LoadPlugin users
LoadPlugin write_graphite

<Plugin apache>
  <Instance "local">
    URL "http://localhost/status?auto"
    Server "apache"
  </Instance>
</Plugin>

<Plugin df>
  Device "/dev/mapper/VolGroup00-LogVol00"
  MountPoint "/"
  FSType "ext3"
</Plugin>

<Plugin interface>
  Interface "eth1"
  IgnoreSelected false
</Plugin>

<Plugin write_graphite>
  <Node "graphing">
     Host "{{graphite_ip}}"
     Port "2003"
     Protocol "tcp"
     LogSendErrors true
     Prefix "collectd."
     StoreRates true
     AlwaysAppendDS false
     EscapeCharacter "_"
  </Node>
</Plugin>